{% extends 'base.html' %}
{% block title %}{{_('editor_title')}}{% endblock %}
{% block content %}
<div class="vh-100 d-flex">
    <div class="vh-100 w-25 d-inline-block">
        <div class="accordion vh-100 overflow-auto">
            <div class="card">
                <div class="card-header">
                    <p class="h5 btn-card">{{_('grammar_specification_title')}}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block btn-card text-left"
                            type="button"
                            data-toggle="collapse"
                            href="#variables"
                            aria-expanded="true"
                            aria-controls="variables"
                        >
                            {{_('variables_title')}}
                        </button>
                    </h2>
                </div>
                <div class="collapse show multi-collapse" id="variables">
                    <div class="card-body">
                        <span>{{_('declare_var_span')}}</span>
                        <pre class="bg-dark pl-1 text-white">
{{_('declare_var')}}</pre>
                        <span>{{_('set_var_symbolic_span')}}</span>
                        <pre class="bg-dark pl-1 text-white">
{{_('set_var_symbolic_int')}}
{{_('set_var_symbolic_var')}}
{{_('set_var_symbolic_string')}}
{{_('set_var_symbolic_tuple')}}
{{_('set_var_symbolic_list')}}
{{_('set_var_symbolic_dict')}}
{{_('set_var_symbolic_set')}}</pre>
                        <span>{{_('set_var_natural_span')}}</span>
                        <pre class="bg-dark pl-1 text-white">
{{_('set_var_natural_int')}}
{{_('set_var_natural_var')}}
{{_('set_var_natural_string')}}
{{_('set_var_natural_tuple')}}
{{_('set_var_natural_list')}}
{{_('set_var_natural_dict')}}
{{_('set_var_natural_set')}}</pre>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block btn-card text-left"
                            type="button"
                            data-toggle="collapse"
                            href="#arith_ops"
                            aria-expanded="true"
                            aria-controls="arith_ops"
                        >
                            {{_('arith_title')}}
                        </button>
                    </h2>
                </div>
                <div class="collapse multi-collapse" id="arith_ops">
                    <div class="card-body">
                        <span>{{_('arith_symbolic_span')}}</span>
                        <pre class="bg-dark pl-1 text-white">
{{_('arith_symbolic_add')}}
{{_('arith_symbolic_sub')}}
{{_('arith_symbolic_minus')}}
{{_('arith_symbolic_mul')}}
{{_('arith_symbolic_div')}}
{{_('arith_symbolic_mod')}}
{{_('arith_symbolic_pow')}}
{{_('arith_symbolic_floor')}}</pre>
                        <span>{{_('arith_natural_span')}}</span>
                        <pre class="bg-dark pl-1 text-white">
{{_('arith_natural_add')}}
{{_('arith_natural_sub')}}
{{_('arith_natural_minus')}}
{{_('arith_natural_mul')}}
{{_('arith_natural_div')}}
{{_('arith_natural_mod')}}
{{_('arith_natural_pow')}}</pre>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block btn-card text-left"
                            type="button"
                            data-toggle="collapse"
                            href="#comp_ops"
                            aria-expanded="false"
                            aria-controls="comp_ops"
                        >
                            {{_('comp_title')}}
                        </button>
                    </h2>
                </div>
                <div class="collapse multi-collapse" id="comp_ops">
                    <div class="card-body">
                        <span>{{_('comp_symbolic_span')}}</span>
                        <pre class="bg-dark pl-1 text-white">
{{_('comp_symbolic_leq')}}
{{_('comp_symbolic_lt')}}
{{_('comp_symbolic_geq')}}
{{_('comp_symbolic_gt')}}
{{_('comp_symbolic_eq')}}
{{_('comp_symbolic_neq')}}</pre>
                        <span>{{_('comp_natural_span')}}</span>
                        <pre class="bg-dark pl-1 text-white">
{{_('comp_natural_leq')}}
{{_('comp_natural_lt')}}
{{_('comp_natural_geq')}}
{{_('comp_natural_gt')}}
{{_('comp_natural_eq')}}
{{_('comp_natural_neq')}}</pre>
                        <span>{{_('is_natural_span')}}</span>
                        <pre class="bg-dark pl-1 text-white">
{{_('comp_natural_is')}}
{{_('comp_natural_isnot')}}</pre>
                        <span>{{_('in_natural_span')}}</span>
                        <pre class="bg-dark pl-1 text-white">
{{_('comp_natural_in')}}
{{_('comp_natural_notin')}}</pre>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block btn-card text-left"
                            type="button"
                            data-toggle="collapse"
                            href="#bool_ops"
                            aria-expanded="false"
                            aria-controls="bool_ops"
                        >
                            {{_('bool_title')}}
                        </button>
                    </h2>
                </div>
                <div class="collapse multi-collapse" id="bool_ops">
                    <div class="card-body">
                        <span>{{_('bool_value_span')}}</span>
                        <pre class="bg-dark pl-1 text-white">
{{_('bool_value_True')}}
{{_('bool_value_False')}}</pre>
                        <span>{{_('bool_ops_span')}}</span>
                        <pre class="bg-dark pl-1 text-white">
{{_('bool_operator_and')}}
{{_('bool_operator_or')}}
{{_('bool_operator_not')}}</pre>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block btn-card text-left"
                            type="button"
                            data-toggle="collapse"
                            href="#control_structures"
                            aria-expanded="false"
                            aria-controls="control_structures"
                        >
                            {{_('control_structure_title')}}
                        </button>
                    </h2>
                </div>
                <div class="collapse multi-collapse" id="control_structures">
                    <div class="card-body">
                        <span>{{_('if_stmt_span')}}</span>
                        <pre class="bg-dark pl-1 text-white">{{_('if_stmt')}}</pre>
                        <span>{{_('for_stmt_span')}}</span>
                        <pre class="bg-dark pl-1 text-white">
{{_('for_range_stmt')}}
{{_('for_in_stmt')}}</pre>
                        <span>{{_('while_stmt_span')}}</span>
                        <pre class="bg-dark pl-1 text-white">{{_('while_stmt')}}</pre>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button
                            class="btn btn-link btn-block btn-card text-left"
                            type="button"
                            data-toggle="collapse"
                            href="#functions"
                            aria-expanded="true"
                            aria-controls="functions"
                        >
                            {{_('functions_title')}}
                        </button>
                    </h2>
                </div>
                <div class="collapse multi-collapse" id="functions">
                    <div class="card-body">
                        <span>{{_('print_func_span')}}</span>
                        <pre class="bg-dark pl-1 text-white">
{{_('print_func_statement')}}</pre>
                        <span>{{_('input_func_span')}}</span>
                        <pre class="bg-dark pl-1 text-white">
{{_('input_function')}}
{{_('input_int_function')}}
{{_('input_float_function')}}</pre>
                        <span>{{_('declare_func_span')}}</span>
                        <pre class="bg-dark pl-1 text-white">
{{_('declare_function_no_parameter')}}
{{_('declare_function_parameters')}}
{{_('declare_function_return')}}
{{_('declare_function_parameters_return')}}</pre>
                        <span>{{_('call_func_span')}}</span>
                        <pre class="bg-dark pl-1 text-white">
{{_('call_function_no_parameter')}}
{{_('call_function_parameters')}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="vh-100 w-75 d-inline-block container editor mx-auto">
        <div class="row">
            <div class="col">Pseudocode</div>
            <div class="col">Python</div>
        </div>
        <div class="row">
            <div class="code-input col border border-dark mx-2" id="editor-pseudocode"></div>
            <div class="code-input col border border-dark mx-2" id="editor-python" disabled
                 aria-disabled></div>
        </div>
        <div class="text-center d-inline-block w-100">
            <div class="mt-4" id="errorMessage"></div>
            <button class="btn button btn-primary my-3" onclick="convert()">{{_('convert_button')}}</button>
            <button class="btn button btn-primary my-3" onclick="runit()">Run</button>
        </div>
        <div class="row">
            <div class="code-input col border border-dark mx-2" id="editor-execution"
                 disabled aria-disabled>
            </div>
        </div>
    </div>
</div>
<script>
 let editorPseudocode = ace.edit("editor-pseudocode");
 editorPseudocode.setTheme("ace/theme/github");
 editorPseudocode.session.setMode("ace/mode/python");
 let editorPython = ace.edit("editor-python");
 editorPython.setTheme("ace/theme/github");
 editorPython.session.setMode("ace/mode/python");
 editorPython.setReadOnly(true);
/**/
 let editorExecution = ace.edit("editor-execution");
 editorExecution.setTheme("ace/theme/github");
 editorExecution.session.setMode("ace/mode/python");
 editorExecution.setReadOnly(true);

 function convert() {
   let errorDiv = document.getElementById("errorMessage");
   errorDiv.style.color = "red";
   let pseudocode = editorPseudocode.getValue();
   let httpRequest = new XMLHttpRequest();
   httpRequest.onreadystatechange = function () {
         if (httpRequest.readyState === XMLHttpRequest.DONE) {
             if (httpRequest.status === 200) {
               let response = JSON.parse(httpRequest.responseText);
               if (response.status === 0) {
                 editorPython.setValue(response.response, 1);
                 errorDiv.innerText = ""
               } else {
                 // The PseuToPy translation has failed probably due to error in parsing
                 errorDiv.innerText = response.response.toString();
               }
             } else {
                 errorDiv.innerText = {{_("http_error_code_not_200")}}
             }
         } else {
           errorDiv.innerText = {{_("request_too_long")}};
         }
     }
     let url = window.location.protocol + "//" + window.location.hostname + ":" +
             window.location.port + "/convert";
     httpRequest.open('POST', url, true);
     httpRequest.setRequestHeader('Content-Type', 'application/json');
     // Method send() should have the parameters of the POST request as argument
   let params;
   if (pseudocode === "") {
     errorDiv.innerText = "This is an error message!";
   } else {
     params = {
       "status": 0,
       "lang": "en",
       "instructions": pseudocode
     };
     errorDiv.innerText = "";
     httpRequest.send(JSON.stringify(params));
   }
 }

 //Being executed twice for some reason
 //Print output of Python code to screen
 function outputExecution(text) {
        //let output = document.getElementById("editor-execution");
        //output.innerHTML+= text;

        if(!text || /^\s*$/.test(text)){
            editorExecution.setValue(editorExecution.getValue() + "\n");
            //alert("Empty: ");
        } else{
            editorExecution.setValue(editorExecution.getValue() + text);
            //alert("True: " + text);
        }
    }

    function builtinRead(x) {
        if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
            throw "File not found: '" + x + "'";
        return Sk.builtinFiles["files"][x];
    }

    function runit() {

        let prog = ""
        prog = editorPython.getValue();
        /*
        $('#editor-python').find('.ace_line').each(function(){
            //alert($(this).text())
            if ($(this).text() !== "" ) {
              prog += $(this).text() +"\n";
            }
        });
        */

        editorExecution.setValue("");
        Sk.pre = "output";
        Sk.configure({output: outputExecution, read: builtinRead , inputfunTakesPrompt: true});


        var myPromise = Sk.misceval.asyncToPromise(function () {
            return Sk.importMainWithBody("<stdin>", false, prog, true);
        });
        myPromise.then(function (mod) {
            console.log('success');
        },
        function (err) {
            console.log(err.toString());
        });
    }

</script>
{% endblock %}
