{% extends 'base.html' %}
{% block title %}{{_('home_title')}}{% endblock %}
{% block content %}
<div class="body-content">
  <div class="App-body">
    <h3>{{_('home_h3_why_pseutopy')}}</h3>
    <p>
      {{_('home_why_pseutopy_div1')}}
    </p>
    <p>
      {{_('home_why_pseutopy_div2')}}
    </p>
    <p>
      {{_('home_why_pseutopy_div3')}}
    </p>
    <h3>{{_('home_h3_how_pseutopy')}}</h3>
    <p>
      {{_('home_how_pseutopy_div1')}}
    </p>
    <p>{{_('home_how_pseutopy_div2')}}</p>
    <p>
        {{_('home_how_pseutopy_div3')}}
    </p>
  </div>
</div>
{% endblock %}
