{% extends 'base.html' %} {% block content %}
<div class="h-100 d-flex">
  <div class="h-100 w-25 d-inline-block">
    <div class="accordion vh-100 overflow-auto">
      <div class="card">
        <div class="card-header">
          <p class="h5 btn-card">{{_('Grammar specification')}}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block btn-card text-left"
              type="button"
              data-toggle="collapse"
              href="#variables"
              aria-expanded="true"
              aria-controls="variables"
            >
              {{_('Variables')}}
            </button>
          </h2>
        </div>
        <div class="collapse show multi-collapse" id="variables">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper enim in gravida dictum. Morbi dapibus sodales dolor vel venenatis. Donec ornare porttitor ligula, sit amet vehicula felis fermentum et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas vitae lectus gravida, pellentesque metus vel, volutpat arcu. Cras mi lorem, scelerisque sed dapibus ac, convallis ac arcu. In tempus sit amet dolor eget ornare. Sed quis enim dignissim, ornare nulla non, malesuada urna. Suspendisse laoreet ipsum placerat turpis dictum, eget commodo nulla auctor. Etiam id massa sit amet augue convallis egestas. Vestibulum eu eros metus. In hac habitasse platea dictumst. Sed eu risus egestas, laoreet risus ut, viverra magna. Praesent fringilla, libero posuere pharetra elementum, risus ligula rhoncus nulla, sed accumsan felis neque sit amet nisl.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block btn-card text-left"
              type="button"
              data-toggle="collapse"
              href="#data_structures"
              aria-expanded="true"
              aria-controls="data_structures"
            >
              {{_('Data structures')}}
            </button>
          </h2>
        </div>
        <div class="collapse show multi-collapse" id="data_structures">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper enim in gravida dictum. Morbi dapibus sodales dolor vel venenatis. Donec ornare porttitor ligula, sit amet vehicula felis fermentum et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas vitae lectus gravida, pellentesque metus vel, volutpat arcu. Cras mi lorem, scelerisque sed dapibus ac, convallis ac arcu. In tempus sit amet dolor eget ornare. Sed quis enim dignissim, ornare nulla non, malesuada urna. Suspendisse laoreet ipsum placerat turpis dictum, eget commodo nulla auctor. Etiam id massa sit amet augue convallis egestas. Vestibulum eu eros metus. In hac habitasse platea dictumst. Sed eu risus egestas, laoreet risus ut, viverra magna. Praesent fringilla, libero posuere pharetra elementum, risus ligula rhoncus nulla, sed accumsan felis neque sit amet nisl.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block btn-card text-left"
              type="button"
              data-toggle="collapse"
              href="#maths"
              aria-expanded="true"
              aria-controls="maths"
            >
              {{_('Maths')}}
            </button>
          </h2>
        </div>
        <div class="collapse show multi-collapse" id="maths">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper enim in gravida dictum. Morbi dapibus sodales dolor vel venenatis. Donec ornare porttitor ligula, sit amet vehicula felis fermentum et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas vitae lectus gravida, pellentesque metus vel, volutpat arcu. Cras mi lorem, scelerisque sed dapibus ac, convallis ac arcu. In tempus sit amet dolor eget ornare. Sed quis enim dignissim, ornare nulla non, malesuada urna. Suspendisse laoreet ipsum placerat turpis dictum, eget commodo nulla auctor. Etiam id massa sit amet augue convallis egestas. Vestibulum eu eros metus. In hac habitasse platea dictumst. Sed eu risus egestas, laoreet risus ut, viverra magna. Praesent fringilla, libero posuere pharetra elementum, risus ligula rhoncus nulla, sed accumsan felis neque sit amet nisl.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block btn-card text-left"
              type="button"
              data-toggle="collapse"
              href="#control_structures"
              aria-expanded="true"
              aria-controls="control_structures"
            >
              {{_('Control Structures')}}
            </button>
          </h2>
        </div>
        <div class="collapse show multi-collapse" id="control_structures">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper enim in gravida dictum. Morbi dapibus sodales dolor vel venenatis. Donec ornare porttitor ligula, sit amet vehicula felis fermentum et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas vitae lectus gravida, pellentesque metus vel, volutpat arcu. Cras mi lorem, scelerisque sed dapibus ac, convallis ac arcu. In tempus sit amet dolor eget ornare. Sed quis enim dignissim, ornare nulla non, malesuada urna. Suspendisse laoreet ipsum placerat turpis dictum, eget commodo nulla auctor. Etiam id massa sit amet augue convallis egestas. Vestibulum eu eros metus. In hac habitasse platea dictumst. Sed eu risus egestas, laoreet risus ut, viverra magna. Praesent fringilla, libero posuere pharetra elementum, risus ligula rhoncus nulla, sed accumsan felis neque sit amet nisl.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h2 class="mb-0">
            <button
              class="btn btn-link btn-block btn-card text-left"
              type="button"
              data-toggle="collapse"
              href="#functions"
              aria-expanded="true"
              aria-controls="functions"
            >
              {{_('Functions')}}
            </button>
          </h2>
        </div>
        <div class="collapse show multi-collapse" id="functions">
          <div class="card-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper enim in gravida dictum. Morbi dapibus sodales dolor vel venenatis. Donec ornare porttitor ligula, sit amet vehicula felis fermentum et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas vitae lectus gravida, pellentesque metus vel, volutpat arcu. Cras mi lorem, scelerisque sed dapibus ac, convallis ac arcu. In tempus sit amet dolor eget ornare. Sed quis enim dignissim, ornare nulla non, malesuada urna. Suspendisse laoreet ipsum placerat turpis dictum, eget commodo nulla auctor. Etiam id massa sit amet augue convallis egestas. Vestibulum eu eros metus. In hac habitasse platea dictumst. Sed eu risus egestas, laoreet risus ut, viverra magna. Praesent fringilla, libero posuere pharetra elementum, risus ligula rhoncus nulla, sed accumsan felis neque sit amet nisl.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="editor h-100 w075 d-inline-block">World</div>
</div>
{% endblock %}
